.AllianceCard-text, .NoticeCard-text, .ReportCard-text {
    font-size: 1rem;
    font-weight: bold;
}
@media (max-width: 767px) {
    .AllianceCard-text,
    .NoticeCard-text,
    .ReportCard-text {
      display: none;
    }
  }